@charset "utf-8";
/* CSS Document */
#container{
	margin:0px 0 15px 15px;
	text-align:left;
	clear:both;
	background: url(../images/headline_bodybg.gif) no-repeat 0px 0px;
	padding:8px 0 0 10px;
}
#container .tabpanel{	
	margin:0;
	padding:0px;	
	clear: both;	
}

#container .tabpanel ul.tablist {
	margin:0px;
	overflow:hidden;    /*----overflow要加-----*/
	
}
#container .tabpanel li{line-height: normal; }
#container .tabpanel li.tab {
	background-image: url(../images/PanelsTab1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding:0px 0 0px 15px;	
	margin:0 1px 0 0px;
	list-style-type: none;
	margin-right:2px;
	float:left;
	cursor: pointer;
	word-break:keep-all;
	font-size:1em;	
	border:0px none;
	
}
#container .tabpanel li.tab span{
	text-align:center;
	background-image: url(../images/PanelsTab1.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding:10px 15px 6px 0px;
	color: #FFF;
	display:block;	
	cursor: hand;
}

#container .tabpanel li.selected {
	background-image: url(../images/PanelsTab2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	display:block;
	margin:0 2px 0 0px;
	padding:0px 0 0px 15px;	
	cursor: hand;
}
#container .tabpanel li.selected span{
	background-image: url(../images/PanelsTab2.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding:8px 15px 8px 0px;
	font-weight: bold;
	font-size:1.2em;	
	color: #a55405;
	font-weight:bold;
	display:block;
	cursor: hand;
}
#container .tabpanel .tabpanel {
	clear: both;
	border: 2px solid #b9b29a;	
	margin:-2px 0 25px 0;
	padding:15px;	
	background-color:#FFF;
}