<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hyAPPServer</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            /WEB-INF/classes/applicationContext.xml
        </param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>hyAPP.root</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>runnerConfigLocation</param-name>
    <param-value>config.properties</param-value>
  </context-param>
  <context-param>
    <param-name>runnerConfigKey</param-name>
    <param-value>actionHome</param-value>
  </context-param>
  <filter>
    <filter-name>FileUploadFilter</filter-name>
    <filter-class>tw.com.useful.runner.web.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadFilter</filter-name>
    <url-pattern>/wSite/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>
  <listener>
    <listener-class>tw.com.useful.runner.web.listener.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ActionServiceServlet</display-name>
    <servlet-name>ActionServiceServlet</servlet-name>
    <servlet-class>tw.com.useful.ActionServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServiceServlet</servlet-name>
    <url-pattern>/ActionServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hyAppDS</display-name>
    <servlet-name>hyAppDS</servlet-name>
    <servlet-class>tw.com.useful.web.DataProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hyAppDS</servlet-name>
    <url-pattern>/hyAppDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for Meta Data</description>
    <display-name>metaDS</display-name>
    <servlet-name>metaDS</servlet-name>
    <servlet-class>tw.com.useful.web.MetaDataProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>metaDS</servlet-name>
    <url-pattern>/metaDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for User Data</description>
    <display-name>userDS</display-name>
    <servlet-name>userDS</servlet-name>
    <servlet-class>tw.com.useful.web.UserProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDS</servlet-name>
    <url-pattern>/userDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for Category</description>
    <display-name>categoryDS</display-name>
    <servlet-name>categoryDS</servlet-name>
    <servlet-class>tw.com.useful.web.CategoryProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoryDS</servlet-name>
    <url-pattern>/categoryDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for ViewType</description>
    <display-name>viewTypeDS</display-name>
    <servlet-name>viewTypeDS</servlet-name>
    <servlet-class>tw.com.useful.web.ViewTypeProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewTypeDS</servlet-name>
    <url-pattern>/viewTypeDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for Auth</description>
    <display-name>auth</display-name>
    <servlet-name>auth</servlet-name>
    <servlet-class>tw.com.useful.web.AuthorizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for add subscribe</description>
    <display-name>AddSubscribe</display-name>
    <servlet-name>AddSubscribe</servlet-name>
    <servlet-class>tw.com.useful.web.AddSubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubscribe</servlet-name>
    <url-pattern>/subscribe/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for update subscribe</description>
    <display-name>UpdateSubscribe</display-name>
    <servlet-name>UpdateSubscribe</servlet-name>
    <servlet-class>tw.com.useful.web.UpdateSubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubscribe</servlet-name>
    <url-pattern>/subscribe/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for remove subscribe</description>
    <display-name>RemoveSubscribe</display-name>
    <servlet-name>RemoveSubscribe</servlet-name>
    <servlet-class>tw.com.useful.web.RemoveSubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSubscribe</servlet-name>
    <url-pattern>/subscribe/remove</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- <servlet>
    <description></description>
    <display-name>AuthorizeService</display-name>
    <servlet-name>AuthorizeService</servlet-name>
    <servlet-class>tw.com.useful.authorize.AuthorizeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizeService</servlet-name>
    <url-pattern>/authorize/ad</url-pattern>
  </servlet-mapping> -->
</web-app>