<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hyAPPServer</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            /WEB-INF/classes/applicationContext.xml
        </param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>hyAPP.root</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>runnerConfigLocation</param-name>
    <param-value>config.properties</param-value>
  </context-param>
  <context-param>
    <param-name>runnerConfigKey</param-name>
    <param-value>test</param-value>
  </context-param>
  <filter>
    <filter-name>FileUploadFilter</filter-name>
    <filter-class>com.hyweb.runner.web.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadFilter</filter-name>
    <url-pattern>/wSite/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>
  <listener>
    <listener-class>com.hyweb.runner.web.listener.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ActionServiceServlet</display-name>
    <servlet-name>ActionServiceServlet</servlet-name>
    <servlet-class>com.hyweb.runner.ActionServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServiceServlet</servlet-name>
    <url-pattern>/ActionServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hyAppDS</display-name>
    <servlet-name>hyAppDS</servlet-name>
    <servlet-class>com.hyweb.web.DataProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hyAppDS</servlet-name>
    <url-pattern>/hyAppDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PushNotificationServlet</display-name>
    <servlet-name>PushNotificationServlet</servlet-name>
    <servlet-class>com.hyweb.pushserver.PushNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushNotificationServlet</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestPushNotificationServlet</display-name>
    <servlet-name>TestPushNotificationServlet</servlet-name>
    <servlet-class>com.hyweb.pushserver.TestPushNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPushNotificationServlet</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeviceRegistrationServlet</display-name>
    <servlet-name>DeviceRegistrationServlet</servlet-name>
    <servlet-class>com.hyweb.pushserver.DeviceRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceRegistrationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getImg</display-name>
    <servlet-name>getImg</servlet-name>
    <servlet-class>com.hyweb.web.GetImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getImg</servlet-name>
    <url-pattern>/getImg</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestPdfUtilServlet</display-name>
    <servlet-name>TestPdfUtilServlet</servlet-name>
    <servlet-class>com.hyweb.web.TestPdfUtilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPdfUtilServlet</servlet-name>
    <url-pattern>/pdf/run</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestPushLoggerServlet</display-name>
    <servlet-name>TestPushLoggerServlet</servlet-name>
    <servlet-class>com.hyweb.pushserver.TestPushLoggerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPushLoggerServlet</servlet-name>
    <url-pattern>/test/push/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizeService</display-name>
    <servlet-name>AuthorizeService</servlet-name>
    <servlet-class>com.hyweb.authorize.AuthorizeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizeService</servlet-name>
    <url-pattern>/authorize/ad</url-pattern>
  </servlet-mapping>
</web-app>